body {
    font-family: "CustomFont", "myFont", "標楷體", "DFKai-SB", "BiauKai", "Noto Serif TC", "Noto Serif CJK SC";
}

/* ↓↓↓ 文字設定：中文標楷體、英文Arial ↓↓↓ */
@font-face {
    font-family: "CustomFont";
    src: local("DFKai-SB"), local("標楷體");
    unicode-range: U+4E00-9FFF;
    /* 中文範圍 */
}

@font-face {
    font-family: "CustomFont";
    src: local("Arial");
    unicode-range: U+0020-007F;
    /* 英文範圍 */
}

/* ↑↑↑ 文字設定：中文標楷體、英文Arial ↑↑↑ */

/* ↓↓↓ 特殊字定義字型 ↓↓↓ */
@font-face {
    font-family: 'myFont';
    src: url('font/f0001.woff') format('woff');
    unicode-range: U+249B2;
}

@font-face {
    font-family: 'myFont';
    src: url('font/f0002.woff') format('woff');
    unicode-range: U+207C3;
}