body {
    font-family: "CustomFont";
    /* background-color: #f5f5f5; */
    background-image: url(../image/paper.png);
    background-repeat: repeat; 
}

/* ↓↓↓ 文字設定：中文標楷體、英文Arial ↓↓↓ */
@font-face {
    font-family: "CustomFont";
    src: local("DFKai-SB"), local("標楷體");
    unicode-range: U+4E00-9FFF;
    /* 中文範圍 */
}

@font-face {
    font-family: "CustomFont";
    src: local("Arial");
    unicode-range: U+0020-007F;
    /* 英文範圍 */
}

/* ↑↑↑ 文字設定：中文標楷體、英文Arial ↑↑↑ */

a {
    text-decoration: none;
}

a:visited{
    color: blue;
}

/* 作者、譯者等文字設定 */
.name {
    /* 刪除間距 */
    margin: 0;
    /* 增加下方間距 */
    padding-bottom: 16px;
    color: black;
}

h1 {
    /* 增加頂部空間，避免黏天花板，原本是16px，但下方div有3px的margin，所以要配合16+3=19px */
    padding: 19px;
}

/* 置頂標題區 */
.titleDiv {
    text-align: center;
}

/* 中間方塊區 */
.container {
    display: grid;
    /* 左200px，中間自動，右200px */
    /* grid-template-columns: 200px 1fr 200px; */
    grid-template-columns: 1fr minmax(250px, 1200px) 1fr;
    gap: 16px;
    /* 讓容器至少佔滿整個視窗高度 */
    /* min-height: 100vh; */
}

.center {
    display: grid;
    gap: 16px;
    /* 自動調整卡片欄數，最小寬度 250px，不夠就直列 */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
    background: rgba(211, 208, 156, 0.6);
    text-align: center;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 20px;
}

.card:hover {
    /* 滑鼠移上去顯示手型 */
    /* cursor: pointer; */
    /* 黃色 */
    background: linear-gradient(135deg, #FFD700, #FFFACD);
    /* 卡片稍微放大 */
    transform: scale(1.05);
}

/* 小螢幕：三欄改成直列 */
@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
        margin-right: 10px;
        margin-left: 10px;
        /* 只剩一欄 */
    }
}
    .left,
    .right {
        /* display: none; */
        /* 小螢幕隱藏左右留白 */
        /* text-align: center; */
    }
