/* div容器高度設定(給iframe的div用) */
.iHeight {
    height: 90vh;
    /* 讓iframe高度佔滿視窗 */
    width: 100%;
}

.container iframe {
    flex: 1;
    /* 每個iframe平均分配空間 */
    border: none;
    /* 移除邊框 */
}

/* .leftBar,
.rightBar{
    flex:1;
} */

/* 手機版樣式 */
@media screen and (max-width: 768px) {
    .thisTitle {
        font-size: 3rem;
    }

    .iHeight {
        height: 200vh;
    }
}