/* 版本資訊 */
/* body::before {
    content: "CSS 版本 Ｄ2.0";
    display: block;
    background: yellow;
    color: black;
    padding: 10px;
    text-align: center;
    font-weight: bold;
} */

html {
  scroll-behavior: smooth;
}

select {
  font-size: 2rem;
  text-align: center;
  margin: 16px;
}

#version {
    display: block;
    background: yellow;
    color: black;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

/* 定義字型 */
@font-face {
    font-family: 'myFont';
    src: url('font/chui.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 套用字型 */
.special_chui {
    font-family: 'myFont', serif;
}

body {
    /* background-image: url(image/paper.png); */
    background-color: rgb(211, 208, 156);
    font-family: "標楷體", "DFKai-SB", "BiauKai", "Noto Serif TC", "Noto Serif CJK SC";
    font-size: 2rem;
}

h1,
h3 {
    text-align: center;
}

h5 {
    font-size: 2rem;
}

/* 文本控制 */
.content p {
    /* 首段空2格 */
    text-indent: 2em;
    /* 文字正確換行只能加這屬性 */
    line-break: anywhere;
}

.content p:first-of-type {
    text-indent: 0;
}

.content p.originTextHymn {
    text-indent: 0;
    text-align: center;
    background-color: burlywood;
}

.content p.bookNames {
    text-indent: 0;
    text-align: center;
    background-color: burlywood;
}

.content p.addAnnotation {
    background-color: lightblue;
}

.originText {
    background-color: burlywood;
}

.addText {
    background-color: bisque;
    text-align: center;
}

#bottom {
    text-align: center;
}

.sizeDown {
    font-size: 1.5rem;
}

/* 超連結設定 */
a {
    text-decoration: none;
}

/* div容器設定 */
.container {
    display: flex;
    width: 100%;
}

.left,
.right {
    flex: 1;
    /* 左右各佔 1 份 */
}

.center {
    flex: 10;
    /* 中間佔 2 份 */
}

/* ★★★ 彈出功能CSS區 ★★★ */

/* 設定內部框 */
#toolbox {
    background-color: rgb(233, 230, 94);
    border: 2px solid black;
    padding: 10pt;
    margin: 20pt;
}

#toolbox p,
span {
    text-align: center;
}

#toolbox button {
    /* width: 60px;
    height: 60px; */
    font-size: 30pt;
    text-align: center;
}

#toolbox button,
#colorPicker {
    width: 60px;
    height: 60px;
    margin-top: 16px;
    margin-bottom: 16px;
}

#toolbox {
    font-size: 2rem;
}

/* 覆蓋層的樣式 */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* 半透明背景 */
    display: none;
    /* 預設隱藏 */
    justify-content: center;
    align-items: center;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    /* 文字貼末尾 */
    justify-content: flex-end;
    /* 去除開頭符號 */
    list-style: none;
    margin: 0;
}

/* 漂浮按鈕設定 */
.floating-btn {
    /* position: fixed;
    top: 10px;
    right: 10px; */
    color: white;

    /* 底色範圍 */
    padding: 5px 7px;
    /* 背景變成圓形 */
    border-radius: 50%;
    /* 無用 */
    font-size: 20px;
    /* 超連結無底線 */
    text-decoration: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    z-index: 999;
    transition: background-color 0.2s ease;
    font-family: "標楷體";
    font-size: 2rem;
    /* 刪除按鈕外框 */
    border: none;
    /* 文字置中 */
    text-align: center;
    /* min-width: 40px; */
    /* 漂浮按鈕 右邊 距 邊界 距離 */
    right: 5px;
    position: fixed;
    min-width: 40px;
}

#btnPos1 {
    /* 底色 */
    background-color: gray;
    top: 10px;
}

#btnPos2 {
    /* 底色 */
    background-color: #4CAF50;
    top: 80px;
}

#btnPos3 {
    /* 底色 */
    background-color: #4CAF50;
    bottom: 10px;
}

.floating-btn:hover {
    background-color: #388E3C;

}

/* 滑鼠游標符號設定，不設定碰到Setting會是文字I符號 */
.mouse {
    cursor: pointer;
}

.settingEmoji {
    font-family: 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji';
}

.addMore p {
    text-indent: 0;
}