body::before {
    content: "CSS 版本 Ｍ 0";
    display: block;
    background: yellow;
    color: black;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}    

body {
    font-size: 3rem;
}
