body::before {
    content: "CSS 版本 Ｍ 刪除font-size: 3rem;";
    display: block;
    background: yellow;
    color: black;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}    

body {
    
}

