body::before {
    content: "CSS 版本 Ｍ2.0";
    display: block;
    background: orange;
    color: black;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.floating-btn {
    /* font-size: 電腦版2rem 手機版1rem */
    font-size: 1rem;
    /* 刪除按鈕外框 */
    border: none;
    /* 文字置中 */
    text-align: center;
    right: 5px;
    position: fixed;
    /* min-width: 電腦版40px 手機版auto */
    min-width: auto;
}

#btnPos2 {
    /* 底色 */
    background-color: #4CAF50;
    /* top: 電腦版80 手機版60 */
    top: 60px;
}


/* body預設2rem，手機版blockquote變太大，縮小些 */
blockquote {
    font-size: 1.5rem;
}

/* 比一般設定(電腦版2rem 手機版1rem)再小的區域 */
.sizeDown {
    font-size: 1rem;
}